---
layout: default
---

<div class="home">
    <div class="index-block">
        <h1 class="page-heading">文章列表</h1>
        <ul class="post-list">
        {% for post in paginator.posts %}
            {% include post_list_item.html post_item=post %}
        {% endfor %}
        </ul>
        {% include paginate.html %}
    </div>

    <div class="side-bar">
        {% include sidebar_tags.html %}
        {% include sidebar_archive.html %}
        <div class="side-bar-block">
            <span class="post-meta">SUBSCRIBE:</span>
            <p class="rss-subscribe"><a href="{{ "/feed.xml" | relative_url }}">RSS订阅</a></p>
        </div>
    </div>
</div>
